<h1>Tweet <%= @tweet.id %></h1>
<p><%= @tweet.content %></p>
<form method="GET" action="/tweets/<%= @tweet.id %>/edit">
  <input type="submit" name="Edit Tweet">
</form>
<<<<<<< HEAD
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
=======
<form method="POST" action="/tweets/:id">
>>>>>>> d8dd51e141cda7bbdf3888e246930e5223e64fbb
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" name="Delete Tweet">
</form>
